<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.phonegap.build.screendim"
      version="1.0.2">
      
    <name>Screen Dim</name>
    <description>Cordova Screen Dim Plugin</description>
    <keywords>cordova,screendim</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/screendim.js" name="screenDim">
        <clobbers target="cordova.screenDim" />
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
		    <feature name="ScreenDim">
			    <param name="ios-package" value="ScreenDim"/>
		    </feature>
        </config-file>

	    <header-file src="src/ios/ScreenDimPlugin.h" />
	    <source-file src="src/ios/ScreenDimPlugin.m" />
    </platform>
    
    <!-- android -->
    <platform name="android">
        <source-file src="src/android/ScreenDim.java" target-dir="src/com/phonegap/build/screendim" />

        <config-file target="res/xml/plugins.xml" parent="/plugins">
            <plugin name="ScreenDim" value="com.phonegap.build.screendim.ScreenDim" />
        </config-file>
    </platform>
</plugin>
