<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-screendim"
  version="1.0.4">

  <name>cordova-plugin-screendim</name>
  <description>cordova plugin for toggling screen dimming</description>
    <keywords>cordova,screendim</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/screendim.js" name="screenDim">
    <clobbers target="cordova.screenDim" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
    <feature name="ScreenDim">
	    <param name="ios-package" value="ScreenDim"/>
    </feature>
    </config-file>
    <header-file src="src/ios/ScreenDim.h" />
    <source-file src="src/ios/ScreenDim.m" />
  </platform>

    <!-- android -->
  <platform name="android">
    <source-file src="src/android/ScreenDim.java" target-dir="src/com/phonegap/build/screendim" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ScreenDim" >
        <param name="android-package" value="com.phonegap.build.screendim.ScreenDim"/>
      </feature>
    </config-file>
  </platform>
</plugin>
